<connectionStrings>
  <clear />
  <!-- NZ connection string -->
  <add name="EPiServerDB" connectionString="Data Source=PC1;Initial Catalog=dbMyTestEPiServerSite;Integrated Security=False;User ID=dbUserMyTestEPiServerSite;Password=P@55w0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>